*.log
node_modules/
package-lock.json
desktop.ini
public/career-summary/
public/csv/
public/uploads/tmp/
public/topic-images/
public/chatbot-audio/
.env
public/uploads/ielts/
public/chatbot-dialogue/
public/chatbox-creator/
public/ielts_task_tests_img/
public/job-interview/
public/listicle/
public/uploads/csv/
public/uploads/essayaudio/
public/uploads/glossary/
public/uploads/glossaryaudio/
public/uploads/listicle/
public/uploads/screencast/
public/uploads/screencastaudio/
public/uploads/stuaudio/
public/uploads/stuimg/
